---
import Layout from '../layouts/Layout.astro';
import Btn from '../components/sections/Btn.astro';
import Hero from '../components/sections/Hero.astro';
import Experience from '../components/sections/Experience.astro';
import Eduaction from '../components/sections/Eduaction.astro';
import Projects from '../components/sections/Projects.astro';
import About from '../components/sections/About.astro';
import Skills from '@/components/sections/Skills.astro';


---

<Layout title="Daniel Cardona Dev">
	<main>
		<Hero/>
		<About/>
		<Experience/>
		<Projects/>

		<Skills/>
		<Eduaction/>
	</main>
</Layout>


<style>
main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }
</style>
